<?xml version="1.0" encoding="UTF-8"?>
<configuration status="trace">
	<appenders>
		<Console name="consoleOutLog" target="SYSTEM_OUT">
			<Filters>
				<ThresholdFilter level="info" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
			</Filters>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<Console name="consoleErrLog" target="SYSTEM_ERR">
			<Filters>
				<ThresholdFilter level="warn" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<Logger name="com.chinaedu.ucenter.datatransfer" level="debug"
			additivity="false">
			<appender-ref ref="consoleOutLog" />
			<appender-ref ref="consoleErrLog" />
		</Logger>
	</loggers>
</configuration>